{% load static %}

<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>推奨データ作成ツール</title>

    <!-- Style CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/a78b913a93.js" crossorigin="anonymous"></script>
    {% block css %}{% endblock %}
</head>
<body>
    <div id="wrapper">
        <!-- Header-->
        <header>
            <p>推奨データセット作成ツール</p>
        </header>

        <div class="content-wrapper">
            <!-- Sidebar-->
            <div class="sidebar">
                <div class="sidebar-up">
                    <ul>
                        <li style="color:{% block page1_color %}{% endblock %}">データを取得する</li>
                        <li style="color:{% block page2_color %}{% endblock %}">データの整形</li>
                        <li style="color:{% block page3_color %}{% endblock %}">データ出力設定</li>
                    </ul>
                </div>
                <div class="sidebar-down">
                    <ul>
                        <li><a href="#">CONTACT</a></li>
                    </ul>
                </div>
            </div>
            <!-- Content-->
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>