{% extends 'base.html' %}

{% load static %}



<!-- Content-->
{% block page1_color %}#808080{% endblock %}
{% block page2_color %}white{% endblock %}
{% block page3_color %}white{% endblock %}

{% block content %}
<div id="index">
    <div class="place-select">
        <input type="button" value="Web Addressed(URLs)" onclick="document.getElementById('url-input').style.display='block';document.getElementById('file-select').style.display='none';formReset();">
        <input type="button" value="This Computer" onclick="document.getElementById('url-input').style.display='none';document.getElementById('file-select').style.display='block';formReset();">
    </div>

    <div class="download">
        <div class="download-select">
            <form method="post" enctype="multipart/form-data" name="upload_form">
                {% csrf_token %}
                <div class="data-select">
                    <div class="error_massage">
                        <p>{{ message }}</p>
                    </div>
                    <!-- onclick-->
                        <div id="file-select">
                            {{ form.file }}
                        </div>

                        <div id="url-input">
                            <p id="data-explanation">データをダウンロードするURLを入力してください:</p>
                            {{ form.url }}
                        </div>
                        <div id ="encode-select">
                            <p>ファイルの文字エンコードを選択してください。</p>
                            {{form.encode}}
                        </div>
                    <div class="category-select">
                        <p>作成するデータセットを選択</p>
                        <div class="data-category">
                            {% for field in form.category %}
                                {{ field }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="next-btn">
                    <input type="submit" value="次へ>>" name="upload" id="next1">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
function formReset() {
    document.upload_form.reset()
}
</script>
{% endblock %}


