{% extends 'base.html' %}

{% load static %}



<!-- Content-->
{% block content %}
<div>
    <input type="button" value="Web Addressed(URLs)" onclick="document.getElementById('url-input').style.display='block';document.getElementById('file-select').style.display='none';formReset();">
    <input type="button" value="This Computer" onclick="document.getElementById('url-input').style.display='none';document.getElementById('file-select').style.display='block';formReset();">
</div>

<div>
    <form method="post" enctype="multipart/form-data" name="upload_form">
        {% csrf_token %}
        <div class="data-select">
            <!-- onclick-->
                <div id="file-select">
                    {{ form.file }}
                </div>

                <div id="url-input">
                    <p id="data-explanation">データをダウンロードするURLを入力してください:</p>
                    {{ form.url }}
                </div>

            <div class="category-select">
                <p>作成するデータセットを選択</p>
                <div class="data-category">
                    {% for field in form.category %}
                        {{ field }}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="next-btn">
            <input type="submit" value="次へ>>" name="upload">
        </div>
    </form>
</div>
<p>※これはメモです。無視してください。</p>
<p>http://www.city.niigata.lg.jp/shisei/seisaku/it/open-data/opendata-toukei/od-jinkou/od-jyukijinkou/od-ku_danjo_nenrei/od-r03.files/2021100niigata-nenrei.csv</p>

<script>
function formReset() {
    document.upload_form.reset()
}
</script>
{% endblock %}


