{% extends 'base.html' %}

{% load static %}

{% block css %}

<style type="text/css">
#id_columns {width: calc(100%/{{ num }})}
</style>
{% endblock %}
{% block title %}推奨データセット作成ツール{% endblock %}
<!-- Content-->
{% block check1 %}inline-block{% endblock %}
{% block check2 %}none{% endblock %}
{% block check3 %}none{% endblock %}

{% block content %}
<div id="processing">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="button-wrapper">
            <input type="button" value="<<最初から戻る" id="back1" onClick="history.go(-1);">
            <!-- 非表示データ-->
            <input type="hidden" value="{{ file }}", name="file">
            <input type="hidden" value="{{ col }}", name="col">
            <input type="hidden" value="{{ df }}", name="df">
            <input type="hidden" value="{{ category }}", name="category">
            <input type="hidden" value="{{ num }}", name="num">
            <input type="checkbox", name="checkbox" id="checkbox" ,value="1", onclick="check()"><p id="checkbox_message">列名・列順はデータ項目定義書に従っている</p><p id="checkbox_error">{{ message }}</p>
            <input type="submit" value="次へ>>" id="next2" name="select">
        </div>
        <div class="field">
                <div class="columns-bar">
                    {% for i in col %}
                        {{ form.columns }}
                    {% endfor %}
                </div>

            <div class="table-box" >
                {{ file | safe }}
            </div>
        </div>
    </form>
</div>

<script>
function check(){
    let check = document.getElementById('checkbox');
    let elements = document.getElementsByClassName('form-check-input')
    if (check.checked) {
        for(i=0;i<elements.length;i++) {
            elements[i].style.pointerEvents = 'none'
            elements[i].style.color = 'rgba(0,0,0, 0.3)'
        }
    }
    else {
        for(i=0;i<elements.length;i++) {
            elements[i].style.pointerEvents = 'auto'
            elements[i].style.color = 'rgba(0,0,0,1)'
        }
    }
}

</script>

{% endblock %}