{% extends 'base.html' %}

{% load static %}

{% block css %}
<style type="text/css">
#id_columns {width: calc(100%/{{ num }})}
</style>

{% endblock %}

<!-- Content-->
{% block page1_color %}white{% endblock %}
{% block page2_color %}#808080{% endblock %}
{% block page3_color %}white{% endblock %}

{% block content %}
<div id="processing">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="button-wrapper">
            <input type="button" value="<<最初から戻る" id="back1" onClick="history.go(-1);">
            <!-- 非表示データ-->
            <input type="hidden" value="{{ col }}", name="col">
            <input type="hidden" value="{{ df }}", name="df">
            <input type="hidden" value="{{ category }}", name="category">
            <input type="submit" value="次へ>>" id="next2" name="select">
        </div>
        <div class="field">
                <div class="columns-bar">
                    {% for i in col %}
                            {{ form.columns }}
                    {% endfor %}
                </div>

            <div class="table-box" >
                {{ file | safe }}
            </div>
        </div>
    </form>
</div>

{% endblock %}